exercise_1/.ipynb_checkpoints/exercice 1 yasmine-checkpoint.ipynb
.DS_Store
/.ipynb_checkpoints
exercise_4_KNN/.ipynb_checkpoints/hemanth_KNN-checkpoint.ipynb
exercise_4_KNN/.ipynb_checkpoints/hemanth_KNN-checkpoint.ipynb
exercise_5_comparing_2_models/.ipynb_checkpoints/hemanth_ex5-checkpoint.ipynb
/exercise_5_comparing_2_models/.ipynb_checkpoints
07_Deep_Learning_Neural_Networks/.DS_Store
